<h1 class="display-1 m-4">Listado películas</h1>
<hr>


<a href="/api/peliculas/create" class="btn btn-dark">Crear película</a>

<hr>






<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Año</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each peliculas}}
    
    

    <tr>
      <td scope="row">{{ this.title }}</td>
      <td scope="row">{{ this.year }}</td>
      <td scope="row">
        <a href="/api/peliculas/show/{{this._id}}" class="btn btn-info">Mostrar</a>
        <a href="/api/peliculas/edit/{{this._id}}" class="btn btn-warning">Editar</a>

      <form class="d-inline" action="/api/peliculas/{{this._id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger">Eliminar</button>
      </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>